{% extends "base_generic.html" %}

{% block content %}
<style>
body {
  background-image: url("https://www.easemytrip.com/travel/img/metro-library-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black;
  margin-left: 20px;
}

</style>
<h1>Author List</h1>

{% if author_list %}
  <ul>

  {% for author in author_list %}
    <li>
      <a href="{{ author.get_absolute_url }}">
      {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There are no authors available.</p>
{% endif %}



{% endblock %}
