{% extends "base_generic.html" %}

{% block content %}
<style>
body {
  background-image: url("https://www.easemytrip.com/travel/img/metro-library-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black;
  margin-left: 20px;
}

</style>
    <h1>Book List</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}
