{% extends "base_generic.html" %}

{% block content %}
<style>
body {
  background-image: url("https://www.easemytrip.com/travel/img/metro-library-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black;
  margin-left: 20px;
}
h2 {
  color: black;
  margin-left: 20px;
}
</style>
    <h1>All Borrowed Books</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) {% if user.is_staff %}- {{ bookinst.borrower }}{% endif %} {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>  {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}