{% extends "base_generic.html" %}

{% block content %}
<style>
body {
  background-image: url("https://www.easemytrip.com/travel/img/metro-library-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black;
  margin-left: 20px;
}
h2 {
  color: black;
  margin-left: 20px;
}
</style>
<body>
<h1>Local Library Home</h1>

<p>Welcome to <em>LocalLibrary</em>


<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>


You have visited this page {{ num_visits }} times.
</body>
{% endblock %}